In [1]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [4]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backer_file = 'Resources/backer_info.csv'
backer_df = pd.read_csv(backer_file, sep=',', header=[0])
backer_df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [5]:
backer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   backer_info  8175 non-null   object
dtypes: object(1)
memory usage: 64.0+ KB

In [31]:
# Iterate through the backers DataFrame and convert each row to a dictionary.
#first_row = backer_df.iloc[0][0]
#converted_backer=json.loads(first_row)
#converted_backer
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.

#for k, v in converted_backer.items():
    #print(k)
    #print(v)
values = []
column_names=[]
for i, row in backer_df.iterrows():
    data = row[0]
    converted_backer= json.loads(data)   
    columns = [k for k,v in converted_backer.items()]
    row_values = [v for k,v in converted_backer.items()]
    # Append the list of values for each row to a list.
    column_names.append(columns)
    values.append(row_values) 
    

# Print out the list of values for each row.
print(column_names[0])
print(values[0])
print(values[1])
print(values[2])

['backer_id', 'cf_id', 'name', 'email']
['av166', 968, 'Angelo Vincent', 'avincent@live.com']
['ha127', 563, 'Hubert Arnold', 'harnold@yandex.com']
['lg794', 65, 'Loris Goulet', 'lgoulet@yandex.com']

In [32]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
new_backer_df = pd.DataFrame(values, columns = column_names[0])
new_backer_df.head()

  backer_id  cf_id              name                  email
0     av166    968    Angelo Vincent      avincent@live.com
1     ha127    563     Hubert Arnold     harnold@yandex.com
2     lg794     65      Loris Goulet     lgoulet@yandex.com
3     tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506    563        Lexie Hunt         lhunt@live.com

In [33]:
new_backer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

In [37]:
# Export the DataFrame as a CSV file using encoding='utf8'.
new_backer_df.to_csv("Resources/backers.csv", encoding = "utf8")

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [6]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [7]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

In [8]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".

In [9]:
# Extract the name from the backer_info column and add it as a new column called "name".

In [10]:
# Extract the email from the backer_info column and add it as a new column called "email".

In [11]:
# Create a new DataFrame with the appropriate columns.

In [12]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [13]:
# Check data types.

In [14]:
# Convert cf_id to an integer if necessary.

In [15]:
# Split the "name" column into "first_name" and "last_name" columns.

In [16]:
#  Drop the name column


# Reorder the columns

In [17]:
# Export the DataFrame as a CSV file using encoding='utf8'.